.trendsList {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}
.itemTrends {
  width: 300px;
  height: 420px;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 4px #3f51b5;
}
.titleTrends {
  color: #000;
  font-size: 28px;
}
.titleTrends:hover,
.titleTrends:focus {
  color: blue;
}
.posterTrends {
  border-radius: 6px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.952);
}
